@charset "UTF-8";

@media screen and (max-width: 768px ){
    
    header > h1{
        font-size: 2.5em;
    }

    .container{
        flex-direction: column;
    }

    body{
        background-image: none;
        background-color: #FEEFEA;
    }

    main{
        width: 90vw;
        margin-left: 15px;
        margin-right: 15px;
    }

    .perfil{
        width: 100%;
    }

    .links-redes{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .links-redes ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .links-redes li{
        display: inline-block;
        margin-right: 3px;
        justify-content: center;
        text-align: center;
    }

    .links-redes li img{
        width: 20px; 
        height: 20px; 
        margin: 0 2px;
        
    }
}