@charset "UTF-8";

/*importando a fonte de display*/
@font-face {
    font-family: AntiqueWonders;
    src: url('../fontes/AntiqueWonders\ Free.ttf') format('TrueType');
}

/*configurações gerais*/
:root{

  /*paleta de cores*/
  --corRosaShock: #F2508B;
  --corRosaClaro: #F2C2D8;
  --corRoxo: #5061BF;
  --corAzulEscuro: #3C4973;
  --corBranco: #FEEFEA;

  /*fonte de destaque*/
  --fonteDestaque: 'AntiqueWonders';
}

*{
    margin: 0px;
    padding: 0px;
}

body{

    /*ajustando a imagem de fundo*/
    background-color:white;
    background-image: url('../imagens/fundo-rosa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: #FEEFEA;
    text-align: center;
    padding-top: 20px;
}

header > h1{
    background-color: #FEEFEA;
    font-family: var(--fonteDestaque);
    font-size: 3.5em;
    color:#1700D1;
    padding-bottom: 30px;
}

nav{
    font-family: 'Times New Roman', Times, serif;
    background-color: #FEEFEA;
    padding-bottom: 15px;
}

nav > a{
    text-decoration: none;
    background-color: #F2C2D8;
    border-radius: 30px;
    margin-right: 8px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}